.collection-grid__wrapper .grid {
    display: flex;
    flex-wrap: wrap;
}
.collection-grid__wrapper .product-item .medium-up--one-fifth {
    width: 100%;
}
.collection-grid__wrapper .grid__item {
    padding-left: 2px;
}
.collection-grid__wrapper .collection-filter__item--count {
    display: none;
}
.collection-grid__wrapper .collection-filter__item--sort {
    flex: auto;
     max-width: 11%; 
    width: 100%;
}
.collection-grid__wrapper .collection-filter__item {
    margin-bottom: 0px;
}
.collection-grid__wrapper .collection-filter select {
    display: inline-block;
    padding: 0px;
    border: none;
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0;
    text-transform: uppercase;
     font-family: "MontserratVariable" !important;

}
button.js-drawer-open-collection-filters.btn.btn--tertiary {
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0;
    text-transform: uppercase;
    color:#3F3F3F;
    background:unset;
}
.collection-filter .btn .icon{margin-right:3px !important;}

.collection-grid__wrapper .collection-filter {
    justify-content: space-between;
    padding: 30px;
    background: var(--colorBody);

}
.collection-grid__wrapper .collection-filter__item .btn {
    padding: 0px 10px !important;
}
.collection-grid__wrapper .facet-btn {
    cursor: pointer;
}
.collection-grid__wrapper .grid.grid-4 .product-item {
  width: 25%;
}
.collection-grid__wrapper .grid.grid-5 .product-item {
  width: 20%;
}
.collection-grid__wrapper .facet-btn svg path {
    fill: #E92E30;
    opacity: 0.5;
}
.collection-grid__wrapper .facet-btn.active svg path {
    opacity: 1;
}
.collection-grid__wrapper .facets_slide {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: end;
}
.collection-grid__wrapper .collection-filter_inner {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: start;
    gap: 4px;
}
.collection-grid__wrapper .collection-filter .btn {
    border: none;
}
.collection-grid__wrapper .collection-tab-btn {
    padding: 10px 14px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0%;
    text-transform: uppercase;
    background: #ffffff;
    border: 1px solid rgba(63, 63, 63, 0.08);
    color: #3F3F3F;
    border-radius: 25px;
}
.collection-grid__wrapper .collection-tabs {
    gap: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.collection-grid__wrapper .collection-tab-btn.active{
    border: 1px solid rgba(63, 63, 63, 0.5);
    background: #DDDDDD;
    font-weight: 500;
}
.collection-grid__wrapper .collection-filter__item .btn {
    position: relative;
}
.collection-grid__wrapper .collection-filter__item .btn:before {
    position: absolute;
    content: "";
    left: 0;
    width: 1px;
    height: 42%;
    background: rgba(63, 63, 63, 0.2);
}
.collection-grid__wrapper .grid-product__meta {
    text-align: left;
    padding-left: 16px;
}
.collection-grid__wrapper .grid-product__title {
    font-weight: 400;
}
.collection-grid__wrapper .grid {
    margin: 0px;
}
.collection-grid__wrapper .mobile_facets {
    display: none;
}

.collection-grid__wrapper .collection-filter__item--count {
    display: none !important;
}
.st-filter-sort-wrapper>.st-hidden svg {
    display: none;
}

.st-filter-sort-wrapper>.st-hidden:first-child:before {
    content: "";
    width: 18px;
    height: 18px;
    margin-right: 6px;
    background-image: url(https://cdn.shopify.com/s/files/1/0517/2939/9964/files/Frame_9.png?v=1765780945);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    flex: none;
}
/* ----------------------------------------------------------------- */
.collection-content .st-collection-content {
    /* display: none; */
}
.collection-content.my-default {
    display: none;
}
.collection_wrapper {
  display: grid;
  column-gap: 0px;
  row-gap: 20px;
  margin: 0 -17px;
  grid-template-columns: repeat(2, 1fr);
}
.collection-content .grid-product {
    max-width: 100%;
    width: 100%;
}

.collection-sidebar__group .collapsible-trigger-btn {
    font-size: 16px;
}

.tag__checkbox-wrapper {
    font-size: 16px;
}

span.price-range__display-min {
    font-size: 16px;
}

span.price-range__display-max {
    font-size: 16px;
}

@media screen and (min-width: 768px) {
  .collection_wrapper {
    grid-template-columns: repeat(4, 1fr);
    margin: unset;
  }

}
.slider_wrapper {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.slider_wrapper .product-main-slide {
  display: block !important;
  flex: 0 0 100%;
}

.slider_wrapper image-element {
  display: block !important;
  flex: 0 0 100%;
}

.slider_wrapper::-webkit-scrollbar {
  height: 1px;
}

.slider_wrapper::-webkit-scrollbar-thumb {
  background: #000000;
}

.slider_wrapper::-webkit-scrollbar-track {
  background: #00000050;
}

.grid-product__meta .product_vender {
  font-size: smaller;
  text-transform: uppercase;
  letter-spacing: 0px;
}

.grid-product__meta .colour_count {
  font-size: smaller;
  letter-spacing: 0px;
  margin-top: 5px;
}

.grid-product__meta .grid-product__title {
  font-size: larger;
  margin-bottom: 10px;
  letter-spacing: 0.5px;
  margin-top: 5px;
  font-size:16px;
}
.st-atc-wrapper .ds_variant-wrapper,
.atc-hover_wrapper .ds_variant-wrapper .ds_variant-input-wrap {
    background: #000 !important;
    color: #FFF;
    opacity: 1 !important;
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0;
    text-transform: uppercase;
}
.st-atc-wrapper .ds_variant-wrapper .ds_variant-input-wrap {
    background: transparent;
}
.st-atc-wrapper .ds_variant-wrapper .ds_variant-input-wrap .ds_variant-choose,
.st-atc-wrapper .ds_variant-wrapper,
.atc-hover_wrapper .ds_variant-wrapper .ds_variant-input-wrap .ds_variant-choose {
    font-size: inherit;
}
.page-width.collection-new-style {
    padding: 0;
    max-width: 100% !important;
    width: 100%;
    margin: auto;
}
.page-width.collection-new-style .grid__item {
    padding: 0;
}
.collection-content {
    padding-top: 0;
    padding-top: 0px;
}
.collection-tab-wrapper {
    padding: 16px 10px;
    border-top: 1px solid rgba(63, 63, 63, 0.1);
    border-bottom: 1px solid rgba(63, 63, 63, 0.1);
}
div#searchModalContainer .st-toolbox {
    background: #f9f9f9 !important;
    padding: 30px !important;
    margin: 0;
    margin-bottom:20px;
}

div#searchModalContainer span.st-grid-changer {
    display: flex;
}


nav.breadcrumb {
    text-transform: uppercase;
}
.st-collection-page-bar {
    margin: 0 !important;
    padding: 30px !important;
    background: #f9f9f9 !important;
    top:83px;
    z-index: 90 !important;
}
.collection_count_filter {
    font-family: Roboto;
    font-weight: 300;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0;
    text-transform: uppercase;
    display: none;
}
.page-width.collection-new-style div#searchModalContainer {
    padding: 0 !important;
}
.page-width.collection-new-style{
  a.st-title {
      font-family: Roboto;
      font-weight: 400;
      font-size: 16px;
      line-height: 100%;
      letter-spacing: 0;
      color: #3F3F3F;
      text-transform: uppercase;
  }
  .product-item-discount {
        font-size: 12px;
        line-height: 142%;
        margin-left: 5px;
    }
  span.new-price {
      font-family: Roboto;
      font-weight: 500;
      font-size: 16px;
      line-height: 100%;
      letter-spacing: 0px;
      text-transform: uppercase;
      color: #3F3F3F;
  }
  .st-price-wrapper {
      margin-top: 8px;
  }
  .st-line-through {
      font-family: Roboto;
      font-weight: 300;
      font-size: 16px;
      line-height: 18px;
      text-decoration: line-through;
      color: #3F3F3F80 !important;
  }
}
.st-show-result {
    display: none;
}
.st-atc-wrapper .ds_variant-wrapper .ds_variant-input-wrap .ds_variant-list .st_ds_variant-item.available:hover{
    background-color: #ffffff;
    color: #000;
}
.st-filter-sort-wrapper>div.st-drop .st-toolbox-right .st-sorting-btn span {
    width: auto;
    min-width: auto;
}

.st-filter-sort-wrapper>div.st-drop .st-toolbox-right .st-sorting-btn > span:after {
    content: '';
    width: 18px;
    height: 18px;
    margin-left: 6px;
    background-image: url(https://cdn.shopify.com/s/files/1/0517/2939/9964/files/Chevron_right.png?v=1765780514);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    flex: none;
}

.st-filter-sort-wrapper>div.st-drop .st-toolbox-right .st-sorting-btn span svg {
    display: none;
}
.grid-product__price span{
    font-size:16px;
}
.st-sorting {
    min-width: fit-content !important;
    display: grid;
    grid-template-rows: 1fr;
}
.st-filter-sort-wrapper {
  font-family: Roboto;
  font-weight: 400;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0;
  text-transform: uppercase;
  color: #3F3F3F;
    display: flex;
    flex-direction: row-reverse;

  > .st-hidden {
    margin: 0;
    padding: 0;
    font-family: inherit;
    color: inherit;
    font-size: inherit;
    height: auto;
    min-height: auto;
    padding: 2px;

    svg {
      width: 18px;
      height: 18px;
      margin-bottom: 0;
      margin-right: 8px;
    }
  }

  > div.st-drop {
    padding-right: 12px;
    border-right: 1px solid #3F3F3F33;
    margin-right: 12px;

    .st-toolbox-right {
      min-width: auto;
      height: 100%;
      font-family: inherit;
      font-size: inherit;

      .st-sorting-btn span {
        margin: 0;
        font-family: inherit;
        font-size: inherit;
        letter-spacing: 0;
        color: inherit;
        height: 100%;
        display: flex;
        align-items: center;
      }

      .st-form-group {
        color: inherit;
        height: 100%;

        .st-sort-dropdown {
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        span.st-sorting-btn {
          height: 100%;
        }
      }
    }
  }
}

.st-form-group {
  margin: 0;
}

.st-toolbox-right {
  &.st-hidden-sm:hover {
    .st-sorting {
      padding-left: 20px;
    }
  }

  .st-sorting li.st-flex.st-items-center {
    padding-left: 20px;
  }
}
.grid-product__meta .grid-product__title {
    margin: 0;
}

.collection-grid__wrapper .grid-product__meta {
    padding: 16px;
    padding-bottom: 0;
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0;
    text-transform: uppercase;
}

div#collectionmodalcontainer .grid-product__meta .product_vender {
    margin-top: 8px;
    display: block;
}

.grid-product__price {
    color: #3F3F3F;
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0;
    text-transform: uppercase;
}

.grid-product__price {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 4px;
    margin-top: 8px;
}

span.grid-product__price--original {
    opacity: 60%;
    font-weight: 300;
}
@media(max-width:1814px){
    .collection-grid__wrapper .collection-filter__item--sort {
        max-width: 12% !important;
    }
}

@media(max-width:1536px){
.collection-grid__wrapper .collection-filter__item--sort{
        max-width: 16% !important;
}
}

@media (max-width: 768px) {
    .collection-grid__wrapper .collection-filter__item--sort {
        flex: auto;
        max-width: 50% !important;
        width: 100%;
    }
    .collection-filter {
        display: flex;
        flex-direction: row-reverse !important;
    }
    .collection-grid__wrapper .collection-filter_inner{
        justify-content: flex-end;
    }
    .collection-grid__wrapper .collection-filter__item .btn {
        padding: 0 0px 0px 10px !important;
    }
    .collection-grid__wrapper .collection-tab-btn {
        padding: 8px 15px;
    }
    .collection-tab-wrapper {
        padding: 10px 0px 10px 10px;
    }
    .collection-grid__wrapper .collection-filter {
        padding: 0px 10px;
        flex-wrap: nowrap;
    }
    .collection-grid__wrapper .collection-filter__item--drawer {
        flex: 0 1 20%;
    }
    .collection-grid__wrapper .grid.grid-4 .product-item {
        width: 50%;
    }
    .collection-content{
        border-top:none;
    }
    .collection-grid__wrapper .grid.grid-5 .product-item {
        width: 100%;
    }
    .collection-grid__wrapper .mobile_facets {
        display: flex;
    }
    .collection-grid__wrapper .desk_facets {
        display: none;
    }
    .collection-grid__wrapper .facets_slide {
        gap: 4px;
    }
    .collection-grid__wrapper .collection-tabs {
        gap: 2px;
        justify-content: start;
    }
    .icon_title_wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    atc-opener.medium-up--hide {
        /* display: flex; */
        display: none;
        align-items: center;
        justify-content: center;
        background: #000;
        color: #FFF;
        padding: 4px;
    }
  .collection-grid__wrapper .collection-filter select{
       font-size:12px !important; 
       height: 40px !important;
    }
    button.js-drawer-open-collection-filters.btn.btn--tertiary{
        font-size:12px ;
        padding-left:6px;

    }

    div#collectionmodalcontainer .st-collection-content .page-width {
        padding: 0px 10px;
    }
    .page-width.collection-new-style a.st-title {
        font-size: 13px;
    }
    .page-width.collection-new-style span.new-price {
        font-size: 14px;
    }
    div#collectionmodalcontainer .st-collection-content .page-width .grid {
        margin: 0;
    }
    .icon_title_wrapper .grid-product__title.grid-product__title--body {
        margin-top: 0;
    }
    .collection-grid__wrapper .grid-product__meta {
        padding: 8px ;
        padding-bottom: 0;
    }

    .grid-product__meta .grid-product__title {
        font-size: 12px;
        margin-bottom:6px;
    }
    .st-product-vendor {
        display: none;
    }
    .st-show-mobile-result {display: none;}
    .st-vendor-wrapper {
        display: flex;
        justify-content: flex-end;
        position: absolute;
        right: 0;
    }
    .mobile-drop {
        padding-bottom: 6px;
        position: sticky;
        top: 50px;
        padding: 0;
        background: #f9f9f9;
    }
    .page-width.collection-new-style .st-price-wrapper {
        margin-top: 0;
    }

    .st-product-price {
        margin-top: 0;
    }

    .st-product-details {
        padding: 8px;
        padding-bottom: 0;
    }
    /* .collection-filter {
        flex-wrap: wrap;
        justify-content: space-between;
        position: sticky;
        top: 17px;
        z-index: 5;
        bottom: 50% !important;
        top: 79% !important;
    } */

    .collection-filter {
    position: fixed !important;
    bottom: 58px;   /* adjust spacing */
    top: auto !important;
    width: 100%;
    left: 0;
    z-index: 99;
    }
    #sortFilter {
    position: fixed;
    left: 0;
    width: 100%;
    bottom: 59px;
    z-index: 999;
    transition: bottom 0.3s ease;
    background: #FFFFFF;
    padding: 5px 15px;
    }

    /* Jab footer hide ho */
    .footer-hidden #sortFilter {
    bottom: 0px;
    }

    .st-product-name {
        margin-bottom: 6px;
    }
    div#collectionmodalcontainer .grid-product__meta .product_vender {
        margin-top: 0;
        display: none;
    }

    .icon_title_wrapper {
        align-items: center;
    }

    .grid-product__price {
        margin-top: 0;
    }

    .grid-product__price {
        font-size: 13px;
    }
    .collection-filter.remove-sticky {
        bottom: unset !important;
        top: 61px !important;
    }

    .collection-sidebar__group .collapsible-trigger-btn {
        font-size: 14px;
    }

    .tag__checkbox-wrapper {
        font-size: 14px;
    }

    span.price-range__display-min {
        font-size: 14px;
    }

    span.price-range__display-max {
        font-size: 14px;
    }

    .collection-grid__wrapper .collection-filter {
        background:#FFFFFF;
    }
}
@media (max-width:375px) {
    .collection-grid__wrapper .collection-filter__item--sort {
        max-width: 49% !important;
    }

}